<p id="notice"><%= notice %></p>

<p>
  <strong>Speciality:</strong>
  <%= @extra_spec.speciality %>
</p>

<%= link_to 'Edit', edit_extra_spec_path(@extra_spec) %> |
<%= link_to 'Back', extra_specs_path %>
