<!DOCTYPE html>
<html>
<head>
	<title>İletişim</title>
</head>
<body>
</br>
</br>
<center>
	<address>
	Özge Tekstil</br>
	Bizi Ulaşın:<br>
	özgetekstil@gmail.com<br>
	Kemalpaşa / Hopa<br>
	Türkiye
	</address>
	<center>
		Harita Koyulcak
	</center>
</center>

</body>
</html>
