<!DOCTYPE html>
<html>
<head>
	<title>İletişim</title>
</head>
<body>
</br>
</br>
<center>
	<address><h4>
	Özge Tekstil</br>
	Bizi Ulaşın:<br>
	özgetekstil08@gmail.com<br>
	Tel:05322711289<br>
	Uzunyalı Mahallesi, Atatürk Bulvarı, NO:56, Kemalpaşa / Hopa<br>
	Türkiye
</h4>
	</address>
	<center>
		Harita Koyulcak
	</center>
</center>

</body>
</html>
