<!DOCTYPE html>
<html>
<head>
	<title>İletişim</title>
</head>
<body>
</br>
</br>
	<div class="col-xs-4">

	</div>
	<div class="col-xs-4 jumbotron">
		<center>
			<address><h4>
			Bize Ulaşın:<br>
			özgetekstil08@gmail.com<br>
			Tel:05322711289<br>
			Uzunyalı Mahallesi, Atatürk Bulvarı, NO:56, Kemalpaşa / Hopa<br>
			Türkiye
		</h4>
			</address>
			<center>
				Harita Koyulcak
			</center>
			<form action="https://formspree.io/ozgetekstil08@gmail.com"
						method="POST" class="form-group">
				 Mesaj: <input type="text" name="name" class="form-control"></br>
					Email Adres<input type="email" name="_replyto"class="form-control"></br>
					<input type="submit" value="Send" class="btn btn-success">
			</form>
			</center>

	</div>




</body>
</html>
